DATABASE_URL="postgresql://"

BETTER_AUTH_SECRET=""
BETTER_AUTH_URL="http://localhost:3000"
GITHUB_CLIENT_ID=""
GITHUB_CLIENT_SECRET=""
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

NEXT_PUBLIC_APP_URL="http://localhost:3000"

S3_BUCKET_NAME=""
S3_BUCKET_ACCESS_KEY=""
S3_BUCKET_SECRET_ACCESS_KEY=""
S3_BUCKET_REGION=""

GEMINI_API_KEY=""

INNGEST_DEV=1

NEXT_PUBLIC_VAPI_PUBLIC_KEY=""
NEXT_PUBLIC_VAPI_ASSISTANT_ID=""
VAPI_PRIVATE_KEY=""
VAPI_WEBHOOK_SECRET=""

NODE_ENV="development"
