DATABASE_URL=

BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

NEXT_PUBLIC_APP_URL=

S3_BUCKET_NAME=
S3_BUCKET_ACCESS_KEY=
S3_BUCKET_SECRET_ACCESS_KEY=
S3_BUCKET_REGION=

GEMINI_API_KEY=

INNGEST_DEV=
